@tailwind base;
@tailwind components;
@tailwind utilities;

.xWrapper {
    width: min(100% - 2rem, 80ch);
    margin-inline: auto;
    padding-block: 1rem;
}
.xNavWrapper {
    background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
}